.vscode/*
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
*/.DS_Store
.DS_Store
*/.idea/*
.idea/workspace.xml
.idea/*
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
mzhang_script
